#container {
/*
  border: solid;
  border-color: yellow;
*/
  width:100%;
  height:100%;
}

#hcontainer {
/*
  border: solid;
  border-color: blue;
*/
  overflow: hidden;
  white-space: nowrap;
}

#toolbar {
/*
  border: solid;
  border-color: red;
*/
  display: block;
  width: 50px;
  float:left;
}

#colorbar {
/*
  border: solid;
  border-color: red;
*/
  display: block;
  width: 50px;
  float:left;
}

#colorselector {
/*
  border: solid;
  border-color: red;
*/
  width: 55px;
}

#toolbar {
/*
  border: solid;
  border-color: red;
*/
  display: block;
  width: 50px;
  float:left;
}

#subtoolbar {
/*
  border-color: green;
  border: solid;
*/
}

.tool {
  width: 50px;
  height: 50px;
}

.currentColor {
  width: 50px;
  height: 50px;
}

.color {
  width: 25px;
  height: 25px;
  margin: 0px;
/*      padding: 25px 50px; */
}

.color { width: 25px; height: 25px; margin: 0px; }
.colorblack { width: 25px; height: 25px; margin: 0px; background-color: rgb(0, 0, 0); }
.colorwhite { width: 25px; height: 25px; margin: 0px; background-color: rgb(255, 255, 255); }
.colordgrey { width: 25px; height: 25px; margin: 0px; background-color: rgb(128, 128, 128); }
.colorlgrey { width: 25px; height: 25px; margin: 0px; background-color: rgb(192, 192, 192); }
.colordred { width: 25px; height: 25px; margin: 0px; background-color: rgb(128, 0, 0); }
.colorlred { width: 25px; height: 25px; margin: 0px; background-color: rgb(255, 0, 0); }
.colordyellow { width: 25px; height: 25px; margin: 0px; background-color: rgb(128, 128, 0); }
.colorlyellow { width: 25px; height: 25px; margin: 0px; background-color: rgb(255, 255, 0); }
.colordgreen { width: 25px; height: 25px; margin: 0px; background-color: rgb(0, 128, 0); }
.colorlgreen { width: 25px; height: 25px; margin: 0px; background-color: rgb(0, 255, 0); }
.colordcyan { width: 25px; height: 25px; margin: 0px; background-color: rgb(0, 128, 128); }
.colorlcyan { width: 25px; height: 25px; margin: 0px; background-color: rgb(0, 255, 255); }
.colordblue { width: 25px; height: 25px; margin: 0px; background-color: rgb(0, 0, 128); }
.colorlblue { width: 25px; height: 25px; margin: 0px; background-color: rgb(0, 0, 255); }
.colordpurple { width: 25px; height: 25px; margin: 0px; background-color: rgb(128, 0, 128); }
.colorlpurple { width: 25px; height: 25px; margin: 0px; background-color: rgb(255, 0, 255); }

#kiddopaint {
  border-color: blue;
  border: solid;
  width: 1024px;
  height: 768px;
}

