#container {
/*
  border: solid;
  border-color: yellow;
*/
  width:100%;
  height:100%;
}

#hcontainer {
/*
  border: solid;
  border-color: blue;
*/
  overflow: hidden;
  white-space: nowrap;
}

#toolbar {
/*
  border: solid;
  border-color: red;
*/
  display: block;
  width: 50px;
  float:left;
}

#colorbar {
/*
  border: solid;
  border-color: red;
*/
  display: block;
  width: 50px;
  float:left;
}

#colorselector {
/*
  border: solid;
  border-color: red;
*/
  width: 55px;
}

#toolbar {
/*
  border: solid;
  border-color: red;
*/
  display: block;
  width: 50px;
  float:left;
}

#subtoolbar {
/*
  border-color: green;
  border: solid;
*/
}

.tool {
  width: 50px;
  height: 50px;
}

.currentColor {
  width: 50px;
  height: 50px;
}

.color {
  width: 25px;
  height: 25px;
  margin: 0px;
/*      padding: 25px 50px; */
}


#kiddopaint {
  border-color: blue;
  border: solid;
  width: 1024px;
  height: 768px;
}

